*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: VT323;
    background-color: rgb(195, 195, 192);
}

.panel{
    border: solid 10px red;
    border-radius: 10px;
    background-color: red;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.panel h1{
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(225, 246, 236);
    width: 50%;
    margin-bottom: 5px;
    border-radius: 5px;
}

.outside{
    margin-right: auto;
    margin-left: auto;
    border: solid 2px rgb(219, 219, 5);
   
    border-radius: 10px;
}


.container{
    margin-left: 20vw;
    margin-right: 20vw;
}

.canvas{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
.col{
    /*border: rgba(0, 0, 0, 0.267) solid 0.5px;
   */
    display: flex;
}

.block{

    border: rgba(0, 0, 0, 0.150) solid 0.5px ;
    background-color: white;
   
}

header{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls{
    background-color: rgb(239, 243, 247);
    margin-top: 20px;
    padding: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px;
    border-radius: 5%;
   
}
.controls > *{
    margin-bottom: 10px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.element{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    display: none;
}



#colorPick{
    border: none;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
}

#colorPick::-webkit-color-swatch{
    border-radius: 25%;
}

.control-btn{
    background-color: rgb(73, 104, 218);
    color:white;
    border: none;
    padding:10px;
    cursor: pointer;
    font-family: inherit;
    
}

footer{
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

#screen{
    width: 300px;
    height: 50px;
    background-color: white;
    border: ridge rgb(14, 14, 35) 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlsAndKnob{
    display: flex;
    align-items: center;
    
}
